@charset 'UTF-8';

/// --------------------------------------------------------------
/// # 공통 속성 및 요소 
/// --------------------------------------------------------------
/// - 
/// --------------------------------------------------------------
:root {
  @each $key, $value in $color-palette {
    
    @if ( type-of( $value ) == map ) {
      
      @each $name, $color in $value {

        @if $name == "" { --app-color-#{$key}: #{$color}; }
        @else { --app-color-#{$key}-#{$name}: #{$color}; }

      }

    } // @if

  } // @each
}

html { }

html, body {
  color: var(--app-color-text-body);
}



/// --------------------------------------------------------------
/// # 컴포넌트 (부트 스트랩)
/// --------------------------------------------------------------

/// .form-switch
.form-switch {

  $ball-size: 18px; 
  $ball_ml : 2px;
  $ball-mr : calc( $ball-size + 8px );
  
  $bar-size_h : calc( #{$ball-size} + 6px );
  $bar-size_w : calc( #{$bar-size_h} * 2 );
  
  .form-check-input {
    width: $bar-size_w;
    height: $bar-size_h;

    // pointer-events: none;

    // & {
    //   @include set-prefix( box-shadow, inset 1px 1px 2px 0px rgba($color_primary, 50%), "webkit" "moz" "" );
    // }

    &:focus, 
    &:checked {
      background-size: $ball-size;
      background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2238%22%20height%3D%2238%22%20viewBox%3D%220%200%2038%2038%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Ccircle%20cx%3D%2219%22%20cy%3D%2219%22%20r%3D%2219%22%20fill%3D%22url%28%23paint0_linear_178_109%29%22%2F%3E%0A%3Cdefs%3E%0A%3ClinearGradient%20id%3D%22paint0_linear_178_109%22%20x1%3D%220%22%20y1%3D%2219%22%20x2%3D%2238%22%20y2%3D%2219%22%20gradientUnits%3D%22userSpaceOnUse%22%3E%0A%3Cstop%20stop-color%3D%22%2326EE8E%22%2F%3E%0A%3Cstop%20offset%3D%221%22%20stop-color%3D%22%23EEFFF6%22%2F%3E%0A%3C%2FlinearGradient%3E%0A%3C%2Fdefs%3E%0A%3C%2Fsvg%3E");

      background-color: var(--app-color-white);
      border-color: var(--app-color-primary) // rgba($color_primary, 75%);
    }

    &:focus { background-position-x: $ball-ml; }
    &:checked { background-position-x: $ball-mr; } 
  } // .form-check-input 
 
} // .form-switch