@charset 'UTF-8';

/// --------------------------------------------------------------
/// # 메인 컨텐츠 <main> 
/// --------------------------------------------------------------
/// - .app-content 
/// - #content
/// --------------------------------------------------------------

.app-content {
  // &-wrap{}
}

#content {
  @include position( relative, z 1 );
}


/// --------------------------------------------------------------
/// 홈 (Home)
/// --------------------------------------------------------------

body:is(.home) #content {

  overflow:hidden;
  width: 100%;
  height: 100%;

  @include position( absolute, l 0 t 0 z 1 );

  
  @include flex-c( flex row nowrap items-stretch  );
  

  & > .section {
    @include flex-item( g 0 s 0 b 100% );
    height: 100%;
  }

}