@charset 'UTF-8';

/// --------------------------------------------------------------
/// # brakpoints
/// --------------------------------------------------------------
$grid-breakpoints: (
  xs: 0,    // 기본값 (모바일)
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

/// --------------------------------------------------------------
/// # Default element 
/// --------------------------------------------------------------
/// 

$color-palette: (

  "text": (
    "title": #080A0C,
    "body": #26292B,
    "bodysub": #4E565F,
    "caption": #9DA5AE,
  ),     
  "bg": (
    "100": #FAFAFA,
    "200": #F4F5F5,
    "300": #E3E6E8,
  ),
  "br": (
    "100": #F4F5F5,
    "200": #D2D6DA,
    "300": #6D767E,
  ),
  "black": (
    "": #17191C,
    "100": #17191C,
    "200": #26292B,
    "300": #343A40,
    "400": #4E565F,
    "500": #6D767E,
    "600": #9DA5AE,
    "700": #D2D6DA,
    "800": #E3E6E8,
    "900": #F4F5F5,
  ),
  "white": (
    "": #FAFAFA,
    "100": #FAFAFA,
    "200": #F4F5F5,
    "300": #E3E6E8,
    "400": #D2D6DA,
    "500": #9DA5AE,
    "600": #6D767E,
    "700": #4E565F,
    "800": #343A40,
    "900": #26292B,    
  ),
  "primary": (
    "": #26EE8E,
    "normal" : #26EE8E, 
    "hover" : #7AFBBD, 
    "active" : #0FD878, 
    "disabled" : #92F6C6, 
    "subtitle" : #EEFFF6, 
    "strong" : #088D4E,
  ),
  "secondary": (
    "": #0F5EDD,
    "normal" : #0F5EDD, 
    "hover" : #1779F9, 
    "active" : #144FB9, 
    "disabled" : #87AEED, 
    "subtitle" : #91D2FF, 
    "strong" : #132B58,
  ),
  "tertiary": (
    "": #08CAE3,
    "normal" : #08CAE3, 
    "hover" : #23D8ED, 
    "active" : #0996B1, 
    "disabled" : #83E4F1, 
    "subtitle" : #CFFBFE, 
    "strong" : #166174,
  ),
  "success": (
    "": #13D47A,
    "normal" : #13D47A, 
    "hover" : #3CEC99, 
    "active" : #09B062, 
    "disabled" : #89E9BC,
  ),
  "information": (
    "": #325EFF,
    "normal" : #325EFF, 
    "hover" : #5B89FF, 
    "active" : #1235FE, 
    "disabled" : #98AEFF,
  ),
  "warning": (
    "": #FF9910,
    "normal" : #FF9910, 
    "hover" : #FFB238, 
    "active" : #F67D00, 
    "disabled" : #FFCB87,
  ),
  "danger": (
    "": #FF3912,
    "normal" : #FF3912, 
    "hover" : #FF836A, 
    "active" : #ED3915, 
    "disabled" : #FFA18F,
  ),

) !default;

/// Placeholder selectors 
// %font-color-primary {

//   $colorset: map-get($color-palette, "primary" );

//   & { 
//     color: map-get( $colorset, "5" ); 
//   } 
//   &--hover { 
//     color: map-get( $colorset, "5" ); 
//     &:hover { color: map-get( $colorset, "7" ); ; } 
//   }
  
// }
