@charset 'UTF-8';

/// --------------------------------------------------------------
/// # brakpoints
/// --------------------------------------------------------------
$grid-breakpoints: (
  xs: 0,    // 기본값 (모바일)
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

/// --------------------------------------------------------------
/// # Default element 
/// --------------------------------------------------------------
/// 

$color-palette: (
  "primary": (
    "": #D70010,
    "1" : #FDD8CA, 
    "2" : #FBAA96, 
    "3" : #F37061, 
    "4" : #E73C39, 
    "5" : #D70010, 
    "6" : #B8001E, 
    "7" : #9A0027, 
    "8" : #7C002B, 
    "9" : #67002C
  ), 
  "success": (
    "": #60BA1B,
    "1" : #ECFBD0, 
    "2" : #D6F8A3, 
    "3" : #B3EA72, 
    "4" : #8FD54C, 
    "5" : #60BA1B, 
    "6" : #489F13, 
    "7" : #34850D, 
    "8" : #236B08, 
    "9" : #165905
  ), 
  "info": (
    "": #0086CE,
    "1" : #CAF7FC, 
    "2" : #96EAFA, 
    "3" : #60D0F0, 
    "4" : #38B1E1, 
    "5" : #0086CE, 
    "6" : #0068B1, 
    "7" : #004D94, 
    "8" : #003777, 
    "9" : #002762
  ), 
  "warning": (
    "": #DDB100,
    "1" : #FDF7CA, 
    "2" : #FBED96, 
    "3" : #F4DD61, 
    "4" : #EACB3A, 
    "5" : #DDB100, 
    "6" : #BE9400, 
    "7" : #9F7800, 
    "8" : #805E00, 
    "9" : #6A4C00
  ), 
  "danger": (
    "": #DD3716,
    "1" : #FDE5CF, 
    "2" : #FBC4A0, 
    "3" : #F49A70, 
    "4" : #EA724C, 
    "5" : #DD3716, 
    "6" : #BE1F10, 
    "7" : #9F0C0B, 
    "8" : #80070E, 
    "9" : #6A0412
  )
) !default;
/// Placeholder selectors 
%font-color-primary {

  $colorset: map-get($color-palette, "primary" );

  & { 
    color: map-get( $colorset, "5" ); 
  } 
  &--hover { 
    color: map-get( $colorset, "5" ); 
    &:hover { color: map-get( $colorset, "7" ); ; } 
  }
  
}
